# Ignore the print-aulas directory
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 3 - HTML 5/treinamento/print-aulas/'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 4 - CSS3/treinamento/print-aulas/'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 5 - CSS3 Intermediário & avançado/treinamento/print-aulas/'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 6 - HTML5 e CSS3 Recursos especiais/treinamento/print-aulas/'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 7 - Bootstrap 4 & Design responsivo/treinamento/print-aulas/'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 8: JavaScript/treinamento/print-aulas/'

'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 7 - Bootstrap 4 & Design responsivo/treinamento/ProjetoFinans/css'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 7 - Bootstrap 4 & Design responsivo/treinamento/ProjetoFinans/fontawesome'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 7 - Bootstrap 4 & Design responsivo/treinamento/ProjetoFinans/js'


'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 7 - Bootstrap 4 & Design responsivo/treinamento/ProjetoSpotify/css'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 7 - Bootstrap 4 & Design responsivo/treinamento/ProjetoSpotify/fontawesome'
'/home/user/Desktop/DESENVOLVIMENTO WEB/Seção 7 - Bootstrap 4 & Design responsivo/treinamento/ProjetoSpotify/js'

